<div class="jumbotron colorBg">
    <div class="container jumboBox">
      <div class="row">
        <div class="col-md-12 center">
        <p class="heading">I <i class="fas fa-heart"></i> Color</p>
       </div> 
      </div>
      <div class="row">
        <div class="col-md-12 center">
        <p class="fontDetails">Color really isn't that difcult to get right, if you know where to start. <br> Learn by doing and you will be a master in no time.</p>
        <p><a class="btn btn-primary btnColor" href="#" role="button">over to you</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of jumbotron -->
  <div class="container colorDetails">
  <div class="row">
    <div class="col-sm-4 col-md-4" *ngFor="let color of colors let i=index">
      <div class="thumbnail" *ngIf="i<3">
        <a class="navbar-brand imageDetails" href="#">
            <span class="glyphicon {{color.iconClass}}" aria-hidden="true"></span>
        </a>
        <div class="caption center">
          <h5>{{color.name}}</h5>
          <p>{{color.description}}</p>
        </div>
      </div>
    </div>
    <!-- end first -->
  </div>
  </div>
  <!-- end of thumbnail -->
