.navbarDetails{
	height: 9rem;
	background-color: #fff;
}
.navDetails{
	margin-top: 2rem;
}
.iconDetails{
	font-size: 5rem;
    margin-top: -2rem;
}
.colorDetails{
	position: relative;
	margin-top: -17rem;
}
.colorBg{
	background-color: #555;
	margin-top: -2rem;
	height: 50rem;
	.fontDetails{
		font-size: 15px;
		color: #fff;
	}
}
.center{
	text-align: center;
}

.heading{
	font-size: 8rem;
    color: #ffffff;
}
.btnColor{
	background-color: #4b4a4a;
	border-color: #4b4a4a;
	border-radius: 2rem;
    width: 15rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

}
.imageDetails{
	margin-bottom: 2rem;
    display: block;
    width: 100%;
    font-size: 50px;
    text-align: center;
}
.jumboBox{
	margin-top: 8rem;
	margin-bottom: 12rem;
}
.thumbnail{
	min-height: 300px;
}