.colorBg {
    background-color: #555;
    height: 55rem;
    margin-top: -2rem;
  }
  
  .inputDetails {
    height: 10rem;
    background-color: #fff;
    margin-bottom: 5rem;
  }
  
  .boxStyle {
    box-shadow: 1px 8px 8px 1px #888888;
    margin-top: -52rem;
    margin-bottom: 10rem;
  }
  
  .boxSize {
    margin-top: 3rem;
  }
  
  .boxDetails {
    height: 10rem;
    background-color: #fff;
    border-bottom: 2px solid gainsboro;
  }
  .submitButton{
    background: transparent;
    border: none;
  }
  .footer {
    height: 15rem;
    margin-top: 2rem;
  }