
<div class="jumbotron colorBg">
</div>
<div class="container boxStyle">
  <form class="row inputDetails" #colorForm="ngForm" (ngSubmit)="createColor(colorForm); colorForm.reset()">
    <div class="col-md-2 col-sm-3 col-md-offset-1 boxSize">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="color" name="colorName" ngModel>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 boxSize">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="description" name="colorDescription" ngModel>
      </div>

    </div>
    <div class="col-md-2 col-sm-3 boxSize">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="icon" name="colorClass" ngModel>
      </div>

    </div>
    <button type="submit" class="col-md-1 col-sm-3 col-md-offset-4 boxSize submitButton">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
      
</form>
  <div class="row boxDetails" *ngFor="let color of colors" >
    <div class="col-md-2 col-md-offset-1 boxSize">
      <h4>{{color.name}}</h4>
    </div>
    <div class="col-md-4 boxSize">
      <h4>{{color.description}}</h4>
    </div>
    <div class="col-md-3 boxSize">
      <span class="glyphicon {{color.iconClass}}" aria-hidden="true"></span>
    </div>
    <div class="col-md-1 col-md-offset-1 boxSize" (click)="removeColor(color.id)">
      <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>

    </div>

  </div>
</div>