
<nav class="navbar navbar-default navbarDetails" [style.backgroundColor]="currentColor">
  <div class="container navDetails">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand iconDetails" href="#">
      	<i class="fas fa-rocket 7x"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li *ngFor="let color of colors" (click)= "changeColor(color.name)">
              <a href="" onclick="return false;">{{color.name | uppercase}}</a>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/manage">manage</a></li>
              </ul>
            </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>